    .baseColor {
        -fx-background-color: #05392F;
        -fx-font-size: 24px;
        -fx-text-fill: #FEFCFD;
        -fx-font-family: "JetBrains Mono Regular";
    }
    
    .accentColor {
        -fx-background-color: #FEFCFD;
        -fx-font-size: 24px;
        -fx-text-fill: #FEFCFD;
        -fx-font-family: "JetBrains Mono Regular";
    }
    
    .secondaryColor {
        -fx-background-color: #6E7F76;
        -fx-font-size: 24px;
        -fx-text-fill: #FEFCFD;
        -fx-font-family: "JetBrains Mono Regular";
    }
    
    .darkGray {
        -fx-background-color: #00000093;
    }
    
    .transparent {
        -fx-background-color: transparent;
    }
    
    .transparentTextField {
        -fx-background-color: #9db3a962;
        -fx-background-radius: 25;
        -fx-font-family: "JetBrains Mono Regular";
        -fx-font-size: 14px;
        -fx-text-fill: white;
    }
    
    .semiTransparent {
        -fx-background-color: #9ba4a06e;
    }
    
    .roundedCorner {
        -fx-background-radius: 10;
    }
    
    .topRoundedCorner {
        -fx-background-radius: 10 10 0 0;
    }
    
    .svgButton {
        -fx-background-color: transparent;
        -fx-background-radius: 0;
    }
    
    .lightFill * {
        -fx-fill: #FEFCFD;
    }
    
    .lightFill:hover * {
        -fx-fill: #6E7F76;
    }
    
    .lightStroke * {
        -fx-stroke: #FEFCFD;
        -fx-fill: transparent;
    }
    
    .lightStroke:hover * {
        -fx-stroke: #6E7F76;
        -fx-fill: transparent;
    }
    
    .textButton {
        -fx-background-color: #6b6e6bfe;
    }
    
    .textButton:hover {
        -fx-background-color: rgb(140, 145, 140);
    }
    
    .darkText {
        -fx-text-fill: #0B090C;
        -fx-font-family: "JetBrains Mono Regular";
    }
    
    .HeadingFont {
        -fx-font-size: 40px;
    }
    
    .largeFont {
        -fx-font-size: 32px;
        -fx-font-family: "JetBrains Mono Regular";
    }
    
    .mediumFont {
        -fx-font-size: 24px;
        -fx-font-family: "JetBrains Mono Regular";
    }
    
    .smallFont {
        -fx-font-size: 16px;
        -fx-font-family: "JetBrains Mono Regular";
    }
    
    .smallTextFieldFont {
        -fx-font-size: 14px;
    }
    
    .extraSmallFont {
        -fx-font-size: 8px;
    }
    
    .errorFont {
        -fx-text-fill: red;
        -fx-fill: red;
    }
    
    .whiteFont {
        -fx-fill: #FEFCFD;
        -fx-text-fill: #FEFCFD;
        -fx-font-family: "JetBrains Mono Regular";
    }
    
    .scrollPane .viewport {
        -fx-background-color: transparent;
    }
    
    .scroll-bar:vertical {
        -fx-background-color: transparent;
        -fx-translate-x: -10;
    }
    
    .scroll-bar:vertical .track {
        -fx-background-color: transparent;
    }
    
    .scroll-bar:horizontal .track {
        -fx-background-color: #E0E0E0;
    }
    /* Thumb - the draggable part of the scrollbar */
    
    .scroll-bar:vertical .thumb {
        -fx-background-color: #757575;
        -fx-background-radius: 10;
    }
    
    .scroll-bar:horizontal .thumb {
        -fx-background-color: #757575;
    }
    /* Buttons - the increment and decrement buttons */
    
    .scroll-bar .increment-button,
    .scroll-bar .decrement-button {
        -fx-background-color: transparent;
    }
    
    .scroll-bar:horizontal .increment-arrow,
    .scroll-bar:horizontal .decrement-arrow,
    .scroll-bar:vertical .increment-arrow,
    .scroll-bar:vertical .decrement-arrow {
        -fx-background-color: transparent;
    }
    
    .scrollPane .viewport {
        -fx-background-color: transparent;
    }
    
    .scrollPane .content {
        -fx-background-color: transparent;
    }
    
    .scrollPane .content {
        -fx-background-color: transparent;
    }
    
    .scrollPane {
        -fx-background-color: transparent;
    }
    
    .listView {
        -fx-hbar-policy: NEVER;
    }
    
    .listView .list-cell {
        -fx-background-color: transparent;
    }
    
    .listView .list-view {
        -fx-background-color: transparent;
    }